@model SignUpModel;
@{
    ViewData["Title"] = "Admin Sign Up";
}

<div class="admin-container">
    <p>@ViewBag.ErrorMessage</p>
    <form>
    <h1 class="h3 mb-3 fw-normal">Admin Sign Up</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit">Sign up</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p>
  </form>
</div>

@* To perform form validation on the client side to prevent users from submitting invalid data *@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}