a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: var(--bs-primary);
  display: flex;
  align-items: center;
}

.btn-primary {
  color: var(--bs--white);
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--bs--white);
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.border-top {
  border-top: 1px solid var(--bs--light--gray);
}
.border-bottom {
  border-bottom: 1px solid var(--bs--light--gray);
}

.box-shadow {
  box-shadow: 0 .25rem .75rem var(--bs--light--gray);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 3.75rem;
}

.title {
  color: var(--bs--black);
  font-size: large;
}

.secend-title {
  color: var(--bs-primary);
  font-size: medium;
}