@{
    ViewData["Title"] = "Admin Login";
}

<div class="admin-container">
    <h3>Administrator Login</h3>
    <form>
        <input placeholder="I love watermelons">
        <input placeholder="But watermelons in NZ are so expensive">
        <button>Earn money to buy watermelons</button>
    </form>
</div>