@{
    ViewData["Title"] = "Home";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />
}

<div class="p-5 home-container">
    <div class="top-half my-5 mx-2">
        <div class="left-part">
            <div>
                <h1 class="display-4 fw-bold">Hi, I'm Lyvia</h1>
                <h1 class="display-4 fw-bold">Full Stack Dev</h1>
            </div>
            <div>
                <p>On this blog I share tips and tricks, frameworks, projects, tutorials, etc<br>
                    Make sure you subscribe to get the latest updates
                </p>
            </div>
            <div class="group">
                <input class="custom-input" placeholder="Enter your email here...">
                <button>Subscribe</button>
            </div>
        </div>
        <div class="right-part"></div>
    </div>
</div>
